<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="5;url=/Signout?signout=4">

    <title>Tita运维平台</title>

  </head>

  <body>

	<p>
		<img src="/static/success.png">
		<span>恭喜你，密码修改成功，<a href="/Signout?signout=5">点击此处</a>使用新的密码重新登录，或者等待5秒后自动跳转</span></p>
  </body>
</html>

