<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>
<h4>Version 0.4.1</h4>
<p>
   <ul style="font-size:14px;">
        <li>1. 登录页面加入失败后用户名或者密码错误的提示，强制修改密码的页面加入密码加密加盐存储的温馨提示</li>
        <li>2. 配置文件修改为动态加载，修改配置文件后不用重启进程才生效</li>
   </ul>
</p>

<body>
<h4>Version 0.4.0</h4>
<p>
   <ul style="font-size:14px;">
        <li>1. 后端模块分离，利于后续开发的灵活性</li>
        <li>2. 功能页面重写，所有功能页面可以从配置文件生成</li>
        <li>3. 权限管理优化，每个用户可以指定单独的权限</li>
        <li>4. 用户密码在服务器端加密加盐存储</li>
        <li>5. 新增修改密码页面</li>
        <li>6. 新用户强制修改密码</li>
   </ul>
</p>

<h4>Version 0.3.0</h4>
<p>
   <ul style="font-size:14px;">
        <li>1. 启用Bootstrap作为前端引擎，加强页面美感</li>
        <li>2. 所有前端页面重写及优化</li>
   </ul>
</p>

<h4>Version 0.2.3</h4>
<p>
   <ul style="font-size:14px;">
        <li>1. 增加Release Notes页面</li>
        <li>2. 修复美人记拉取文件等页面loading动画不显示的问题</li>
        <li>3. 修复执行结果有多个“失败”时，点击查看详细信息只出现第一个错误信息的问题</li>
        <li>4. 新增Justified进程重载功能</li>
   </ul>
</p>

<h4>Version 0.2.2</h4>
<p>
   <ul style="font-size:14px;">
	<li>1. 首个Release版本</li>
	<li>2. 完善美人记，tgame，justified等的功能页面</li>
	<li>3. 稳定了服务器初始化的功能</li>
	<li>4. 增加任务执行过程中的loading动画等待效果</li>
	<li>5. 对任务执行后的显示结果进行处理，变得更简洁明了</li>
   </ul>
</p>


</body>
</html>

